* {
  padding: 0;
  margin: 0;
}

@keyframes selected {
  0% {
    filter: drop-shadow(0px 0px 8px darkgray);
  }
  25% {
    filter: drop-shadow(5px 0px 8px darkgray);
  }
  50% {
    filter: drop-shadow(5px 5px 8px darkgray);
  }
  75% {
    filter: drop-shadow(0px 5px 8px darkgray);
  }
  100% {
    filter: drop-shadow(0px 0px 8px darkgray);
  }
}

#app {
  height: 100vh;
  background-image: linear-gradient(lightgray, darkgray);
}

rect {
  fill: #c0ffee;
  transition: all 0.5s ease-in;
}

rect:hover {
  fill: red;
  transform-origin: center;
}

.selected {
  animation: 3s ease-in-out infinite selected;
}
